
<div class="count">
    Résultats: {{ pagination.getTotalItemCount }}
</div>
<ul class="list-group">
{% for advert in pagination %}
<li class="list-group-item bg-odd-secondary">
    <p class="text-wrap-anywhere">
        <a href="{{ path('app_category_show', {id: advert.category.id}) }}">
            <span class="badge bg-danger">{{ advert.category.name }}</span>
        </a>
    </p>
    <h2>{{ advert.title }}</h2>
    <p class="text-wrap-anywhere">{{ advert.description }}</p>
    <p>Prix : {{ advert.price }} €</p>
    <div class="d-flex w-100 justify-content-between">
        <p>{{ advert.location }}</p>
        <p><span class="badge bg-accent1">{{ advert.owner.lastname }} {{ advert.owner.firstname }}</span></p>
    </div>
    <div class="d-flex w-100 justify-content-between text-secondary">
        <span>Ajouté le : {{ advert.createdAt|date('d/m/Y') }}</span>
        <span>Mis à jour le : {{ advert.updatedAt|date('d/m/Y') }}</span>
    </div>
</li>
{% endfor %}
</ul>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>