{% extends 'base.html.twig' %}

{% block content %}

    <article>
        <div class="category-container">
            <p class="category-title"><a href="{{ path('app_category_show', {id: advertisement.category.id}) }}">{{ advertisement.category.name }}</a>
            </p>
        </div>
        <h2>{{ advertisement.title }}</h2>
        <p>{{ advertisement.description }}</p>
        <p>Prix : {{ advertisement.price }} €</p>
        <p>{{ advertisement.location }}</p>
        <div class="articles-dates">
            <span>Ajouté le : {{ advertisement.createdAt|date('d/m/Y') }}</span>
            <span>Mis à jour le : {{ advertisement.updatedAt|date('d/m/Y') }}</span>
        </div>
        {% if  is_granted('ADVERTISEMENT_EDIT') %}
            <a href="{{ path('app_advertisement_edit', {id: advertisement.id}) }}" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Editer l'annonce</a>
            <a href="{{ path('app_advertisement_delete', {id: advertisement.id}) }}" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Supprimer l'annonce</a>
        {% endif %}
    </article>

{% endblock %}

{% block title %}
    Advertisement - {{ advertisement.title }}
{% endblock %}

