<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LeMauvaiscoin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary ">
                <div class="container-fluid">
                    <a class="navbar-brand text-accent1" href="/advertisement">LeMauvaisCoin 🦆</a>
                    <i class="bi bi-credit-card-fill" aria-hidden="true"></i>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/advertisement">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center show" id="bd-theme" type="button" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                                    <svg class="bi my-1 theme-icon-active"><use href="#moon-stars-fill"></use></svg>
                                    <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                                            <svg class="bi me-2 opacity-50 theme-icon"><use href="{{ asset('build/images/sun-fill.svg') }}"></use></svg>
                                            Light
                                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                                            <svg class="bi me-2 opacity-50 theme-icon"><use href="{{ asset('build/images/moon-stars-fill.svg') }}"></use></svg>
                                            Dark
                                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                                            <svg class="bi me-2 opacity-50 theme-icon"><use href="{{ asset('build/images/circle-half.svg') }}"></use></svg>
                                            Auto
                                            <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
        {% block content %}
        {% endblock %}
        </main>
        <img class="position-absolute" style="right: 0px" src="/kiss.png" alt="^^"/>
    </body>
</html>
